$title-font: "Raleway", Arial, Helvetica, sans-serif;
$text-font: "Montserrat", Arial, Helvetica, sans-serif;
$bg-color: #fff;
$text-color: #000;
$link-color: rgb(40, 0, 199);

@mixin section-title-styles() {
  color: $text-color;
  font-family: $title-font;
  font-weight: 700;
  font-size: 42px;
}

@mixin title-styles() {
  color: $text-color;
  font-family: $title-font;
  font-weight: 700;
  font-size: 20px;
}

@mixin text-styles() {
  color: $text-color;
  font-family: $text-font;
  font-weight: 500;
  font-size: 14px;
}

@mixin link-styles() {
  color: $link-color;
  font-family: $text-font;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

@mixin flexible-column() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexible-row() {
  display: flex;
  flex-direction: row;
  align-items: center;
}
