<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="index" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="ДОБАВИТЬ ОПИСАНИЕ" />
    <meta property="og:title" content="Психолог - Софа Соболевская" />
    <meta property="og:url" content="ДОБАВИТЬ ССЫЛКУ" />
    <meta property="og:image" content="ДОБАВИТЬ КАРТИНКУ" />
    <link
      rel="icon"
      href="<%= require('./images/favicon.ico') %>"
      sizes="any"
    />
    <link
      rel="icon"
      href="<%= require('./images/favicon.svg')%>"
      type="image/svg+xml"
    />
    <title>Психолог - Софа Соболевская</title>
  </head>

  <body>
    <div class="root"></div>
  </body>
</html>
