<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="index" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="ДОБАВИТЬ ОПИСАНИЕ" />
    <meta property="og:title" content="Психолог - Софа Соболевская" />
    <meta property="og:url" content="ДОБАВИТЬ ССЫЛКУ" />
    <meta property="og:image" content="ДОБАВИТЬ КАРТИНКУ" />
    <link
      rel="icon"
      href="<%= require('./images/favicon.ico') %>"
      sizes="any"
    />
    <link
      rel="icon"
      href="<%= require('./images/favicon.svg')%>"
      type="image/svg+xml"
    />
    <title>Психолог - Софа Соболевская</title>
  </head>

  <body>
    <div class="root">
      <section class="about">
        <h2 class="aboutTitle">Обо мне</h2>
        <ul class="aboutList">
          <li class="aboutItem">
            ‌Я работаю в рамках мультимодального подхода. Для меня каждый
            человек ценен, уникален, поэтому для каждого нужно своё средство,
            своё отношение.
          </li>
          <li class="aboutItem">
            ‌Мне близко мнение, что все мы пришли в этот мир изначально
            правильными, такими, какие мы уже есть. Поэтому я вижу цель
            психотерапии в возвращении к изначальному себе.
          </li>
          <li class="aboutItem">
            Моя работа подразумевает рефлексию и погружение в понимание
            механизмов психики клиента. Мой кабинет — безопасное пространство,
            где каждый может быть таким, какой он есть.
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
